# jetbrains IDE setting file.
.idea/

# lock
*.lock

# pids
*.pid
*.seed

# for Windows
Thumbs.db
Desktop.ini

# for OSX
.DS_Store

# swp
*.swp

# direnv
.envrc

# .env
.env

# Rust specific ignores
target/
!Cargo.lock

# docker compose container data
.docker-data/
